body {
  background-color: rgba(81, 11, 9, 1);
  padding: 64px;
  border: 6px solid rgba(233, 254, 87, 1);
}
h1 {
  font-sixe: 24px;
  color: white;
  text-align: center;
  font-family: Courier;
}
.special-header{
  color: rgba(233, 254, 87, 1);
}
p {
  font-size: 14px;
  font-family: Courier;
  color: white;
}
.button{
  padding: 16px;
  text-size: 18px;
  text-align: center;
  font-family: Courier;
  background-color: white;
  border: 4px solid rgba(233, 254, 87, 1);
}
.button a{
  text-decoration: none;
  color: black;
  display: block;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
